#root {
  height:100%;
}

.ui.sidebar {
    overflow: visible !important;
}

.ui.accordion .item .title .dropdown.icon{
  float:right;
}

.ui.accordion .content {
  margin-left:15%;
  font-size:.85rem;
  color:gray;

}

.ui.menu {
  border-radius: 0px;
}

.accordion-menu{
  font-weight:bold;

}
.accordion-menu .accordion-menu-item{
  font-weight:300;
  padding-top:10px;
  padding-left:25px;
}

.drag-handle { display: none; }

.react-grid-HeaderCell {padding:0px 0px 0px 0px !important;border-right: 1px solid #A9A9A9 !important;
    border-bottom: 1px solid #A9A9A9 !important}

.grouped-column {background-color:#A9A9A9;color:white; text-align:center}

.header-wrapper {text-align:center }
